

@font-face {
    font-family: "DMSerif";
    src: url("./fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

/* * l'étoile donne du style à tous les éléments */
/* *{
    margin: 0; pour reinitialiser tous les marges extérieurs
    padding: 0; pour reinitialiser tous les marges intérieurs
} */

/* NB: il faut toujours crée les éléments css en suivant leur ordre dans le html */

body{
    /* background-color: red;couleur de fond */
    font-family : "DMSerif",Verdana, Geneva, Tahoma, sans-serif;
    background: url("../img/bg.jpg") center/cover;
    /* vh: signifie viewport heigth, pour aussi éviter que l'image se repète */
    min-height: 100vh; /* min-height : hauteur minimal, pour dire que l'image face 100% de la taille de l'ecran d'utilisateur*/
    /* astuce: utilser min-heigth au lieu de heigth pour éviter des supprises déagréable lorsque les tailles d'écran varies */
    /* VH , WH pour les tailles d'écran */
}

h1{
    text-transform: uppercase;/*mettre tout en majuscule*/
    letter-spacing: 3px; /*l'espace entre les caractères*/
    text-align: center; /*pour centrer le texte*/
    font-size: 2.5rem; /* taille de la police  NB: les tailles de polices doivent être en REM */
    /*NB: 1rem = 16px; rem s'adapte mieu à tous les écran ...*/
    text-shadow: 3px 3px 8px #00000042;/* pour créer l'ombre, le shadow doit avoir trois valeurs + l'opacité */
    color: rgba(100, 28, 168, 0.897);
    text-decoration: underline;/*pour souligner le text */
    font-family: 'DMSerif',sans-serif; /*si la police Oswald n'est pas trouvée alors 'sans-serif' est automatiquement chargée */

}

/* ici nous allons mettre en forme nos 4 boites à savoir: main,boite1,boite2,boite3 */

main{   /*mise en forme du parent */
    height: 500px; /* il faut pas utliser le % sur les hauteurs */
    width: 90%;  /* conseiller de mettre les largeurs en % */
    background: rgba(245, 245, 245, 0.9);
    /* centrer une boite */
    margin: 0 auto; /* ce qui signifie: haut =0, bas =0, gauche=auto, droite = auto */
    /* équivaut a ceci : margin: 0 0 auto auto; */
    /* margin: = écart exterieur
       padding: = écart intérieur */
    border: 2px solid rgba(0, 140, 255, 0.781);/*pour les bordures */
    border-radius: 20px; /*pour arrondir tous les bordures */
    /* border-radius: 20px 0 ;
       border-radius: 20px 20px 0 20px; */
    box-shadow: 0px 0px 20px 4px #81cfc6;   /*pour créer l'ombre */
    padding: 15px;/* 15px en haut,bas,gauche,droite */

}

h2{
    margin: 0; /* pour enlever tous les marge appliquée sur le H2 */
    
}

.flexbox, 
.Grid{
    border: 2px solid skyblue; /* dashed: pour les pointiés */
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;    
}

/*FlexBox NB: le but ici est de repartir équitablement les trois boîtes de facon horizontale */

.flexbox ul{
    padding: 0;
    display: flex; /*pour alignement horizontale des éléments de ul */
    justify-content: space-around; /* pour cetrer de facon équitable  inspecter sur le navigateur pour mieu voir*/
   
}

.flexbox li{
    list-style: none; /*pour enlever les puces sur les Lists */
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
     /*centrer un unique élément horizontalement et verticalement */
     /*par exemple les trois ci-dessous vont centré les textes des <li> à savoir boite1,boite2, boite3 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*GRID */

.grid-container{
    display: grid;
    grid-template-columns: 30% 70%; /*pour diviser la Grid en deux colonnes 30% pour l'image et 70% pour le Formulaire */

}

.Grid img{
    width: 80%; /* l'image prend 80% de son parent 
                    son parent étant grid-container
                    donc 80% de 30% parceque grid-container 
                    occupe 30% de Grid*/
    margin: 20px,auto;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;/* divise le formulaire en 2 fractions, NB: 1fr ==une fraction */
    grid-template-rows: 1fr 1fr 1fr;/*divise en 3lignes, 1pour nom & prénom; 1pour textarea; 1pour le bouton valider */
    /*NB: au stade ci-dessus c'est bien visiblle quand on inspecte sur le navigateur pour voir comment le formulaire 
    est bien subdiviser en 2colonnes et 3lignes */
    grid-template-areas:  /*définition des différentes zones de la Grid */
    "i1 i2"     /*pour input 1 et 2 */
    "ta ta"     /*pour Textarea, */
    "vi tb";    /* vi pour vide et bt pour bouton */
                /*RQ : les deux premières cases correspondent aux inputs
                les deux deuxièmes aux textarea
                les deux derniers aux vide et bouton valider */
    
}

input, textarea{ /* pour donner du style aux inputs et textarea */
    margin: 5px;
    border: 1px solid darkblue;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "DMSerif";
    border-radius: 5px; /*petit arrondir des bords sur les inputs et textarea */

}

textarea{ /* c'est le seul textarea de ma page */
    grid-area: ta;  /* pour repositionner le textarea au bon endroit dans la grid 
                        c'est à dire en deuxième position comme indiqué dans le form */
    height: 40px;
    resize: none;/*empeche le redimentionnement de la textarea */

}

/*NB: pour pointer les éléments HTML
      . pour la classe
     rien: pour les éléments classique comme textarea, form et autres
     # : pour un Id  */   

#btn-submit{
    grid-area: tb;
    cursor: pointer;
    background: cyan;
    transition: 0.2s; /*transition au survol de la souris */

}

#btn-submit:hover{
    background: darkblue;
    color: white; /*couleur du texte quand on survol le bouton */

}

